<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Portfolio website</title>
</head>

<body>
{{>header}}

  <main>
    <section class="firstsection">
      <div class="leftsection">
         Hi, My name is {{channelName}}
         and I am a passionate 
         <p><span id="element"></span></p> 
        
         

      </div>
     
      <div class="rightsection">
        <img src="develop.png" alt="">
      </div>

    </section>
    <hr>
    <section class="secondsection">
      <h1> Past Experiences</h1>




    </section>




  </main>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
  var typed = new Typed('#element', {
    strings: ['Web Developer ','Graphic Designer','Web Designer','Video Editor'],
    typeSpeed: 80,
  });
</script>
 

    
</body>
</html>